.portfolio__link {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 19px;
  border-bottom: 1px solid #E8E8E8;
  margin-bottom: 20px;
  text-decoration: none;
}

.portfolio__link:hover {
  opacity: .5;
  transition-duration: 1s;
}

.portfolio__link:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}