.about-project__container-caption {
  width: 100%;
  margin: 0 0 16px;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

@media (min-width: 768px) {
  .about-project__container-caption {
    margin-top: 22px;
    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: 1280px) {
  .about-project__container-caption {
    margin-bottom: 26px;
  }
}