.about-project {
  display: flex;
  flex-direction: column;
  padding: 90px 50px;
  width: 100%;
  box-sizing: border-box;
  background-color: #fafafa;
}

@media (min-width: 1280px) {
  .about-project {
    padding: 110px 70px;
  }
}