.about-me__photo {
  width: 292px;
  height: 352px;
  object-fit: cover;
  border-radius: 10px;
  margin: 60px auto 40px;
}

@media (min-width: 768px) {
  .about-me__photo {
    width: 255px;
    height: 307px;
    margin: 66px 0 0;
  }
}

@media (min-width: 1280px) {
  .about-me__photo {
    width: 270px;
    height: 327px;
  }
}