.popup__profile-icon {
  object-fit: contain;
  width: 30px;
  height: 30px;
  border-radius: 6px;
  margin-left: 13px;
  background-image: url('../../../images/profile-link-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 11px;
  background-color: #f4f4f4;
}