.movies-card__delete {
  background-color: rgba(0,0,0,0);
  background-image: url('../../../images/cross.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 7px;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
}

.movies-card__delete:hover {
  background-size: 14px;
  transition-duration: 1s;
}