.form__error {
  width: calc(100% - 60px);
  max-width: 396px;
  margin: 0 30px;
  padding: 0;
  color: #ee3465;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
}

@media (min-width: 456px) {
  .form__error {
    margin: 0 auto;
  }
}