.about-me__info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width: 768px) {
  .about-me__info {
    margin-top: 66px;
    width: 54%;
  }
}

@media (min-width: 1280px) {
  .about-me__info {
    width: 47%;
  }
}