.techs__block {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  width: 178px;
}

@media (min-width: 768px) {
  .techs__block {
    padding: 0;
    width: 100%;
    row-gap: 10px;
  }
}