.portfolio {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 50px 90px;
  box-sizing: border-box;
  background-color: #fafafa;
}

@media (min-width: 1280px) {
  .portfolio {
    padding: 0 70px 125px;
  }
}