.header__link_type_saved-movies {
  display: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
}

@media (min-width: 425px) {
  .header__link_type_saved-movies {
    font-size: 14px;
  }
}

@media (min-width: 1080px) {
  .header__link_type_saved-movies {
    display: inline;
  }
}