.header__link_type_movies {
  display: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  margin-right: 30px;
}

@media (min-width: 1080px) {
  .header__link_type_movies {
    display: inline;
  }
}