.movies-card-list__button {
  margin: 50px auto 80px;
  padding: 0 60px;
  font-size: 12px;
  font-weight: 500;
  line-height: 36px;
  background-color: #f4f4f4;
  border-radius: 6px;
  border: none;
  min-width: 320px;
  cursor: pointer;
}

.movies-card-list__button:hover {
  opacity: .5;
  transition-duration: 1s;
}