.popup__container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 48px;
  box-sizing: border-box;
  background-color: #fafafa;
}

@media (min-width: 768px) {
  .popup__container{
    width: 68%;
    margin-left: auto;
  }
}