.about-me {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 90px 50px;
  background-color: #fafafa;
  box-sizing: border-box;
  justify-content: space-between;
}

@media (min-width: 1280px) {
  .about-me {
    padding: 110px 70px 100px;
  }
}