.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 18px 14px;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .header {
    padding: 18px 30px;
  }
}

@media (min-width: 1280px) {
  .header {
    padding: 18px 70px;
  }
}