.footer__down-row {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .footer__down-row {
    flex-direction: row-reverse;
    margin: 0;
  }
}