.search-form-section {
  width: 100%;
  background-color: #fafafa;
  padding: 60px 30px 10px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .search-form-section {
    padding: 60px 10px 10px;
  }
}

@media (min-width: 1280px) {
  .search-form-section {
    padding: 80px 70px 10px;
  }
}